@media (max-width: 750px) {
  div.caixa {
    height: 100vh;
    width: 100vw;
    box-shadow: none;
  }
  form {
    margin-bottom: 40px;
  }

  #logo2 {
    display:inline;
    position: relative;
    width: 26%;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 35px;
  }

  img#mulher2 {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 65px;
  }

  div.caixaIntra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  div p.texto {
    margin: 0;
    width: 100vw;
    text-align: center;
    width: 380px;
  }
  #textoMaior {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 14px;
  }
  #textoMaior span {
    font-weight: 600;
  }

  #textoMenor {
    width: 350px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #email {
    position: relative;
    left: 18px;
    width: 320px;
    height: 56px;
    font-size: 14px;
  }

  .icon {
    position: relative;
    margin: -17px;
    right: 60px;
    bottom: 8px;
    height: 27px;
  }

  #botao {
    position: relative;
    top: 9px;
    right: 38px;
    width: 75px;
    height: 59px;
  }

  #botao img {
    height: 26px;
  }

  .error {
    margin-top: 5px;
    margin-left: 33.5px;
    font-size: 14px;
  }

  #mulher {
    display: none;
  }

  #logo {
    display: none;
  }

  footer {
    display: none;
  }
}

@media (max-width: 400px) {
    #email {
        position: absolute;
        width: 310px;
        left: 18px;
        height: 56px;
        font-size: 14px;
      }
    
      #botao {
        position: relative;
        top: 0px;
        left: 125px;
        width: 75px;
        height: 59px;
      }
    
}
